@{
    ViewBag.Title = "Home Page";
}
<!-- Situação onde se encontra no momento no servidor -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Pagina Inicial</li>
        </ol>
    </div>
</div>

<br/>
<br />

<!--insersão de imagens-->
<div >
    <img class="imagens" src="/Imagens/11.jpg" />
</div>
<br/>
<br />







<div class="row">
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p>
           Veja os produtos que temos para oferecer, pode começar por pesquisar na nossa barra superior.
        </p>
    </div>
    <br/>
    <div class="col-md-4">
        <h2>Localização</h2>
        <p>Pode visitar as nossas instalações</p>
        <br/>
        <p><div class="btn btn-default"> @Html.ActionLink("Onde Estamos »", "OndeEstamos", "Home")</div></p>
        <br/>
    </div>
    <br/>
</div>


<br />
@Html.Partial("Outros")
