
@{
    ViewBag.Title = "Leite";
}

<h2>Leite</h2>

<!-- Situação onde se encontra no momento no servidor -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Pagina Inicial</li>
            <li><span aria-hidden="True"></span>Produtos</li>
            <li><span aria-hidden="True"></span>Laticínios</li>
            <li class="active">Leite</li>
        </ol>
    </div>
</div>