@model SuperGes.Models.TiposEnvio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>TiposEnvio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEnvio)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-default">
        @Html.ActionLink("Editar", "Edit", new { id = Model.ID })
    </div>
    <b>|</b>
    <div class="btn btn-default">
        @Html.ActionLink("Voltar à lista", "Index")
    </div>
</p>
