
 <!--Filtragens-->
<div class="col-md-8 products-right" >
    <div class="products-right-grid">
        <div class="products-right-grids">
            <div class="sorting">
                <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null">Ordenação Habitual</option>
                    <option value="null">Ordenação por Popularidade</option>
                    <option value="null">Ordenação por Rating</option>
                    <option value="null">Ordenação por Preço</option>
                </select>
            </div>
            <div class="sorting-left">
                <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null">Ver 9 itens por página</option>
                    <option value="null">Ver 18 itens por página</option>
                    <option value="null">Ver 32 itens por página</option>
                    <option value="null">Ver todos os itens listados</option>
                </select>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
